@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #FC9E4F;
    --secondary: #4D587E;
    --dark: #402E32;
    --red: #C35256;
    --light: #FFF7EF;
}

@layer components {
    .heading1 {
        @apply text-4xl font-bold text-dark
    }

    .heading2 {
        @apply text-3xl font-bold text-dark
    }

    .heading-btns {
        @apply flex flex-row justify-center gap-3
    }

    .container {
        @apply flex-1 px-5 pt-8 bg-light
    }

    .input {
        @apply border border-dark py-4 px-6 rounded-lg mb-2 text-dark
    }

    .input-error {
        @apply text-red
    }

    .input-box {
        @apply mb-6
    }

    .btn-primary {
        @apply bg-primary py-4 px-8 rounded-lg disabled:opacity-50
    }

    .btn-secondary {
        @apply bg-secondary py-4 px-8 rounded-lg disabled:opacity-50
    }

    .btn-delete {
        @apply bg-red py-4 px-8 rounded-lg disabled:opacity-50
    }

    .btn-text {
        @apply text-lg text-center text-dark
    }

    .btn-text-white {
        @apply text-lg text-center text-white
    }

    .card {
        @apply p-4 bg-gray-200 rounded-lg
    }
}